<ul>
  <li>{{model.firstName}}</li>
  <li>{{model.lastName}}</li>
  <li>{{model.email}}</li>
  <li>{{model.twitter}}</li>
  <li>{{link-to "Edit Info" "friends.edit" model}}</li>
</ul>

{{link-to "Back" 'friends.index'}}
